.theme-dark {
    --text-selection: #ff00002a;
}

.cm-current-word,
.cm-matched-word,
.cm-current-string,
.cm-matched-string {
    background-color: #a6ace8;
    /* color: var(--text-on-accent); */
    color: rgb(0, 0, 0);
    padding: 3px 0;
}